{% extends 'base.jinja2' %} 
{% block content %}
<h1>
Welcome to Webscraping project!!
</h1>
<div>
<p>
Link to the website that we are scraping is :: <a href={{url_for('home')}}/>
</p>
</div>
</form>
{% endblock %}