<! DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title> Django Level 2 </title>
    <link rel="stylesheet" href="{% static " css/mystyle.css " %}" />
</head>

<body>

    <h1> Hi List of Web page URLs </h1>
    <div>
        {% if WebPageList %}
        <table>
            <thead>
                <th>Table Header</th>
                <th>Table Date</th>
            </thead>
            {% for temp in WebPageList %}
            <tr>
                <td>{temp.webpage_name} </td>
                <td>{temp.webpage_url} </td>
                <td> </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class=".tabClass">No Access Records found!!</p>
    </div>
    {% endif %}
</body>

</html>
